body {
font-family: "Hiragino Kaku Gothic ProN","U", sans-serif;}

h1 {
margin: 0 auto; 
margin-top:30px; 
margin-bottom:20px; 
border-left:4px red solid; 
background-color: #f1f1f1; 
padding-top:5px; 
padding-bottom:5px; 
padding-left:15px;
width:500px; font-size:20px;
}
form {
margin: 0 auto; 
background-color:#fbfbfb; 
border:3px #ebebeb solid; 
border-radius: 10px;
width:500px;
}
form div { 
    padding:15px;
}
.text, textarea, .dropdown { 
    border:1px solid #dfdfdf;
padding:5px; 
color: #999;
background: #fff;
}
.submit{
color:white;
border : 1px solid lightgray;
padding: 4px 10px; 
border-bottom: solid 2px gray;
background-color: #bfbfbf;
border-radius: 5px;
}